<%include header%>
<h1> Zombies </h1>
<div class="container">
  <div class="row">
  
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/recursos/Hellhound.png" alt="Hellhound" style="width:100%">
          <div class="caption">
            <p>Las armas para matar mas rápido a los Hellhounds son las escopetas ya que a estos los matan de un solo disparo.</p>
            <p>Los Hellhounds algunas veces son diferentes, al igual que los zombies unos llegan a ser grandes e intimidantes y fuertes y otros llegan a hacer débiles y pequeños.</p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/recursos/Brutus.png" alt="Brutos" style="width:100%">
          <div class="caption">
            <p>Al hacerle suficiente daño, tirara de las anillas de las granadas de humo que tiene en el cuerpo, dejando una humareda que dura unos minutos.</p>
            <p>Se recomienda dispararle a la cabeza ya que despues de unos disparos su casco se cae y lo deja altamente expuesto, despues de morir nos deja un Power-Up</p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/recursos/Crawler.jpg" alt="Crawler" style="width:100%">
          <div class="caption">
            <p>No confundir con los zombis cojos, que es la parte de arriba de un zombi reventado por una explosión.</p>
            <p>Se cree que este tipo de zombi fue un sujeto del Nova 6, pues cuando muere suelta el posible Nova 6.</p>
            <p>Este tipo de zombi es el unico que no tiene rasgos faciales, solo tiene una gran boca, pero no tiene ojos ni nariz.</p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/recursos/Monos.png" alt="Monos-espaciales" style="width:100%">
          <div class="caption">
            <p>Siempre son un total de 6 monos</p>
            <p>Sustuyen a los perros infernales en ronda de bonificacion</p>
            <p>Cuando te cruzas con ellos te atacaran con un salto que hace daño</p>
            <p>Salta cuando el mono que te ataque saltando vaya a aterrizar y no te hará ningún daño</p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/recursos/Nepalm.jpg" alt="Nepalm" style="width:100%">
            <div class="caption">
            <p> Se caracteriza por ser lento (pero aveces es muy torpe porque corre sin razón alguna) y está semidesnudo mientras arde. Cuando el jugador se acerca a él, el zombie explotará expandiendo el fuego y dañando a todo ser que esté por medio, incluyendo zombies, que los volatilizará.</p>
            </div>
         </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/recursos/Nova.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
            <p>Se desconoce su origen, pero es posible que venga de los meteoritos que puedan venir de la luna.</p>
            <p>El zombie nova de Shangai es un zombie que se teletransporta.</p>
            </div>
         </div>
    </div>

  </div>
</div>
<%include footer%>