<%include header%>
<h1> Bienvenidos! </h1>
<h2> Aqui encontraras toda la informacion referente a Zombies </h2>
<img src="/recursos/timeline.jpg" class="img-rounded" alt="Cinque Terre" style="width:100%">
<%include footer%>