<%include header %>
<h2>Crear Una nueva entrada</h2>
<form method ="POST" role="form">
        <div class ="form-group">
            <label for="title">Arma</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Raygun" required/>
        </div>
    <div class= "form-group">
            <label for="body"> Tipo</label>
            <input type="text" class="form-control" id="body" name="body" placeholder="Explosiva" required/>
    </div>
    <div class= "form-group">
            <input type="submit" class="btn btn-primary" value ="Aceptar"/>
    </div>
</form>
<%include footer%>